In [1]:
bil1 = input('isikan bilangan 1:')
bil2 = input('isikan bilangan 2:')
hasil = int(bil1) + int(bil2)
print("hasil", bil1, "+", bil2, "=", hasil)

isikan bilangan 1:6
isikan bilangan 2:5
hasil 6 + 5 = 11

Buatlah luas dan keliling persegi panjang

In [2]:
panjang = input ("masukan nilai panjang :")
lebar = input ("masukan nilai lebar :")

luas = int(panjang) *int(lebar)
keliling = 2 *(int(panjang)) * int(lebar)

print("luas", luas)
print("keliling", keliling)

masukan nilai panjang :20
masukan nilai lebar :10
luas 200
keliling 400

In [3]:
print ("A","B","C","D", sep='@_@') #sep=seperator atau pembatas

A@_@B@_@C@_@D

In [4]:
print("A","B","C","D", sep='\n',end="^_^")

A
B
C
D^_^

In [5]:
num_1 = 8
num_2 = 10

# Hasil dari 8 modulus  10 = 8
#str.format()

print('hasil dari {} modulus {} = {}'.format(num_1,num_2,num_1%num_2))

hasil dari 8 modulus 10 = 8

In [7]:
fname = "Siti"
mname = "Nazilah"
Iname = "K.J"

print('Nama anda {0} {1} {2}'.format(fname,mname,Iname))

Nama anda Siti Nazilah K.J

In [8]:
print('Nama anda {nama}, nilai anda{nilai}'.format(nama='Nazilah',nilai=95))

Nama anda Nazilah, nilai anda95

In [12]:
univ = "Universitas Nusa Putra"

print("karakter pertama :",univ[0])
print("karakter terakhir :",univ[-1])
#universitas
print(univ[0:11])
print(univ[-5:])
print(univ[17:])
print(univ[::-1])

karakter pertama : U
karakter terakhir : a
Universitas
Putra
Putra
artuP asuN satisrevinU

f string

In [14]:
f_name = 'Siti'
I_name = 'Nazilah'

print(f'Nama saya {f_name} {I_name}')

first = 100
second = 20

print(f'hasil penjumlahan {first} + {second} = {first+second}')

Nama saya Siti Nazilah
hasil penjumlahan 100 + 20 = 120

split pada string

In [22]:
nama = "lala,lili,lulu"
nama2 = "lala,lili,lulu"
#split -> memisahkan string berdasarkan karakter tertentu
print(nama2.split())
print(nama.split(','))

#join ->menggabungkan string kedalam kumpilan karakter
print('@'.join(nama.split(',')))

#input tanggal lahir->30/juli/2004
#input nama -> Siti Nazilah
# output
#tgl : 14, Bulan:Maret ,Tahun 2024
#nama inisial : SN

tgl = input ("Masukan tanggal lahir :")
nama = input ("Masukan nama :")
pemisah = tgl.split("/")
print("Output :")
print(f"Tgl : {pemisah[0]}, Bulan:{1}, Tahun :{pemisah[2]}")
pemisah = nama.split()
nama_pertama = pemisah[0]
nama_terakhir = pemisah[1]
print(f"Nama inisial : {nama_pertama[0]+nama_terakhir[0]}")

['lala,lili,lulu']
['lala', 'lili', 'lulu']
lala@lili@lulu
Masukan tanggal lahir :30/Juli/2004
Masukan nama :Siti Nazilah K.J
Output :
Tgl : 30, Bulan:1, Tahun :2004
Nama inisial : SN